 /*Init*/

 html {
    overflow-x: hidden;
    scroll-behavior: smooth; 
 }

body{
    position: relative;
    background-color: #151C21;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    word-spacing: 2px;
    
}

section{
   padding-top: 200px;
   
}

strong{
    font-weight: 100;
}

h1{
    
    text-align: center;
    font-size: 80.5px;
    color: white; 
    font-family: 'Oswald', sans-serif;
    animation-name: dev-reveal;
    animation-delay: 0.2s;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    opacity: 0;
    
}

@keyframes  dev-reveal{
    from {
      opacity: 0;
      
    }
  
    to {
      opacity: 1;
      
    
    }
  }

h1 span{
    background: linear-gradient(90deg, white, #3977d4 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}





h2{
    text-align: center;
    font-size: 80.5px;
    color: white;
    margin-bottom: 100px;
    font-family: 'Oswald', sans-serif;
}

h2 span{
    background: linear-gradient(90deg, white, #3977d4 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


h3{
    font-size: 45px;
    font-family: 'Oswald', sans-serif;
}
p{
    color: white;
    font-size: 19.3px;
}

footer{
    bottom: 0%;
    position: absolute;
    text-align: center;
    z-index: 5;
    background-color: #31383c;
    width: 100%;
    
    
    

}

 /*Navbar*/

 .burger{
    display: none;
 }

.navbar{
    z-index: 10;
    margin-top: 10px;
    position: fixed;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    background-color: #31383c;
    border-radius: 15px;
    left: 50%;
    transform: translateX(-50%);
    animation-name: navbar-reveal;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0,.02,.46,1.09);;
    opacity: 0;
}

@keyframes navbar-reveal {
    from {
      opacity: 0;
      margin-top: 0px;
    }
  
    to {
      opacity: 1;
      margin-top: 10px;
    }
  }
  

.navbar-logo{
    position: relative;
    width: 80px;
    z-index: 11;
}

.navbar ul {
    margin-left: 200px;
    width: 100%;
    display: flex;
    justify-content : end;
    gap: 80px;
    list-style-type: none;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 21px;
    
    padding-left: 10px;
    padding-right: 10px;
   transition-duration: 1s;
    
}
.navbar__links a:hover {
    box-shadow: 0px 15px 10px -12px #39AFD4;
}

 /*Section top-page*/



.shadow-blue{
    z-index: 3;
    position: absolute;
    background-color:#39AFD4 ;
    width: 600px;
    filter: blur(50px);
    height: 400px;
    border-radius: 100px;
    transform: translate(-200px,-150px);
}





.presentation-container{
    display: flex;
    align-items: center;
    gap: 200px;
    justify-content : center;
}

.my-photo{
    background-image: url("../img/facebook_1691206848119_7093435647893073191.jpg");
    position: relative;
    background-repeat: no-repeat;
    background-size: 700px;
    width: 450px;
    height: 750px;
    border-radius: 14px;
    box-shadow: 20px 0px 60px black;
    animation-name: my-photo-reveal;
    animation-duration: 1.5s;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.27,.14,.33,1.01);
    opacity: 0;
}

@keyframes my-photo-reveal {
    from {
      opacity: 0;
      left: -50%;
    }
  
    to {
      opacity: 1;
      left: 0%;
    }
  }



.my-description{
    position: relative;
    font-size: 19.3px;
    padding: 30px;
    background-color: #31383c;
    width: 750px;
    border-radius: 10px;
    box-shadow: 20px 2px 80px black;
    animation-name: my-description-reveal;
    animation-duration: 1.5s;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.27,.14,.33,1.01);
    opacity: 0;
}

@keyframes my-description-reveal {
    from {
      opacity: 0;
      right: -50%;
    }
  
    to {
      opacity: 1;
      right: 0%;
    }
  }

.name{
    font-size: 20px;
    font-weight: 1000;
    color: #39AFD4;
}

/*Section compétences*/


.flex-skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.skill-container{
    color: rgba(0, 255, 255, 0);
    display: block;
    position: relative;
    width: 350px;
    height: 350px;
    text-align: center;
    border-radius: 10%;
    transition: 1s cubic-bezier(.27,.14,.33,1.01);
    transform: scale(0.8);
    
}

.skill-container-reveal{
    background: #151C21;
box-shadow:  5px 5px 10px #08b1e4,
             -5px -5px 10px #063141;
    opacity: 1;
    color: rgb(0, 255, 255);
    transform: scale(1);
}

.skill-container p{
    font-family: 'Bevan', serif;
    
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 4;
    position: absolute;
    font-size: 50px;
    
}

.skill-img{
   color: black;
    width: 350px;
    opacity: 0.2;

}

/*Section portfolio*/

.portfolio-container{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.macbook{
    z-index: 2;
    transform: translate(0px, -110px);
   width: 780px;
   height: 344px;
   filter: drop-shadow(30px 20px 20px black);
   order: 2;
   opacity: 0;
   transition: 0.5s ease;
   
   
}

.site-slider{
    z-index: 3;
    transform: translate(0px, -110px);
    margin-top: 24px ;
    z-index: 9;
    border-radius: 2px;
    width: 546px;
    opacity: 0;
    transition: 0.5s ease;
}
.link-site{
    z-index: 3;
    position: absolute;
    margin-right: 2px;
    
    
}




.site-slider:hover {
    
    transform: scale(1.05);
    border-radius: 10px;
    box-shadow: 10px 0px 30px 20px #39AFD4
}

.chevron{
    z-index: 1;
    width: 160px;
    border-radius: 200%;
    transition: 1s;
    cursor: pointer;
    
}

.chevron:hover{
    transform: scale(1.05);
    border-radius: 10px;
    filter: drop-shadow(0px 30px 20px #39AFD4);
}

.left{
    position: relative;
    order : 1;
    transform: translate(400px, 0px);
    opacity: 0;
    transition: 1.5s ease;
    
}
.right{
    position: relative;
    order : 3;
    transform: translate(-400px, 0px);
    opacity: 0;
    transition: 1.5s ease;

}


.description-site{
    font-size: 30px;
    gap: 4px;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    order: 4;
    transform: translate(0px, -50px);
    opacity: 0;
    transition: 1.5s ease;
    transition-delay: 0.6s;

}

.macbook-reveal{
    opacity: 1;
    transform: translate(0px, 0px);
}
.line-portfolio{
    width: 400px;
    height: 4px;
    border-radius: 100%;
    background-color: white;
}

/*Section diplômes*/
.shadow-blue-diplomes{
    
    position: absolute;
    background-color:#39AFD4 ;
    width: 250%;
    filter: blur(115px);
    height: 300px;
    border-radius: 100px;
    transform: translate(-200px,50px);
    z-index: 1;
    
    
    
}

#diplomes{
    width: 100%;
    position: sticky;
    margin-top: 190px;
    padding-top: 10px;
    padding-bottom: 90px;
    background-color: black;
    z-index: 5;
    overflow: hidden;
}

.diplomes-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19.3px;
    gap: 100px;
    transform: scale(0);
    transition: 1s ease;

}

.diplomes-reveal{
    transform: scale(1);
}

.classroom-img{
    width: 600px;
    border-radius: 200px;
}

.column-diplomes{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.school-container{
    display: flex;
}

.diplome-icon{
    width: 100px;
    height: 100px;
    
}

.school-container span{
    opacity: 0.5;
    margin-left: 20px;
}


/*Section loisirs*/

.loisirs-container{
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}

.sport-container{
    background-image: url("../img/sport.jpg");
    background-repeat: no-repeat;
    width: 632px;
    height: 974px;
    text-align: center;
    opacity: 0;
    transition: 1s cubic-bezier(.27,.14,.33,1.01);    
}

.gaming-container{
    background-image: url("../img/gaming.jpg");
    background-repeat: no-repeat;
    width: 720px;
    height: 467px;
    text-align: center;
    opacity: 0;
    transition: 1s cubic-bezier(.27,.14,.33,1.01); 
}

.learn-container{
    background-image: url("../img/learn.jpg");
    background-repeat: no-repeat;
    width: 720px;
    height: 467px;
    text-align: center;
    opacity: 0;
    transition: 1s cubic-bezier(.27,.14,.33,1.01); 
}

.travel-container{
    background-image: url("../img/travel.jpg");
    background-repeat: no-repeat;
    width: 1390px;
    height: 600px;
    text-align: center;
    opacity: 0;
    transition: 1s cubic-bezier(.27,.14,.33,1.01);
}

.opacity{
    
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}

.loisirs-container p{
    font-size: 30px;
    position: relative;
    bottom: 60%;
    opacity: 1;
}

.right-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.loisir-reveal{
    opacity: 1;
}

/*contact*/


#contact{
    margin-bottom: 100px;
    margin-top: 100px;
    overflow: hidden;
}

#contact p{
    font-size: 25px;
}

#contact .shadow-blue{
    z-index: 3;
}


.ia-img{
    right: -10%;
    position: absolute;
    width: 1200px;
}

.shadow-ia-top {
    z-index: 2;
    position: absolute;
    right: -10%;
    bottom: 908px;
    width: 1122px;
    height: 343px;
    background-color: #151C21;
    filter: blur(40px);
}

.shadow-ia-bottom {
    z-index: 2;
    position: absolute;
    right: -10%;
    bottom: 100px;
    width: 1122px;
    height: 343px;
    background-color: #151C21;
    filter: blur(40px);
}


.contact-container{
    overflow: hidden;
    padding-top: 30px;
    color: white;
    position: relative;
    z-index: 5;
    align-items: center;
    margin: 90px;
    width: 600px;
    height: 800px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 53px;
    background: #151C21;
    box-shadow:  5px 5px 17px #0b0e11,
             -5px -5px 17px #202a32;
}

.hide-contact-container{
    background-color: #151C21;
    width: 120%;
    height: 150%;
    position: absolute;
    border-radius: 200px;
    transition: 5s ease;
    filter: blur(50px);
}

.contact-container-reveal{
    transform: translate(120%,120%);
    border-radius: 200%;
    filter: blur(50px);
   
}

.network-container{
    margin-top: 40px;
    display: flex;
    gap: 80px;
}

.network-container img{
    width: 80px;
    
}

.network-container a{
    padding: 10px;
    transition: 1.5s;
    border-radius: 20px;
}

.network-container a:hover{
    box-shadow: inset 14px 14px 28px #0b0e11,
    inset -14px -14px 28px #202a32;
    cursor: pointer;
}

.img-contact{
    position: absolute;
    transform: translateY(450px);
    filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
    opacity: 1;
    width: 200px;
}


.shadow-scroll{
    z-index: 2;
    background-color: #151C21;
    filter: blur(50px);
    width: 100%;
    height: 800px;
    position: absolute;
    transition: 8s ease;
    margin-left: 50%;
    
}


.shadow-scroll-reveal{
margin-left: 200%;
}




    


.hole{
    border: 0;
    padding: 25px;
    padding-left: 40px;
    padding-right: 40px;

    color: white;
    border-radius: 53px;
    background: #1d4059;
    box-shadow: inset 14px 14px 28px #0b0e11,
            inset -14px -14px 28px #202a32;
}



/*responsive*/

@media (max-width: 1500px) {
    .navbar{
        top: -2%;
        
        
    }

    .navbar ul {
        margin-left: 200px;
        width: 100%;
        display: flex;
        justify-content : end;
        gap: 20px;
        list-style-type: none;
    }
    
    .navbar ul li a {
        text-decoration: none;
        color: white;
        font-size: 21px;
        margin-right: 20px;
        padding-left: 5px;
        padding-right: 5px;
       transition-duration: 1s;
        
    }

    .shadow-blue{
        transform: translate(-380px,-150px);
    }


    .presentation-container{
        gap: 40px;
    }
    
    .my-photo{
        background-size: 470px ;
        width: 300px;
        height: 550px;
    }

    /*Section portfolio*/
    .macbook{
        width: 780px;
        height: 344px;
        filter: drop-shadow(30px 20px 20px black);
       
        
     }
     
     .site-slider{
        width: 546px;
        height: 267.39px;
     }
     
     .chevron{
         width: 140px;
     }

     .diplomes-container{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 19.3px;
        gap: 60px;
    
    }

    .classroom-img{
        width: 500px;
        border-radius: 150px;
    }

    .loisirs-container{
        display: flex;
        gap: 40px;
        justify-content: center;
        flex-wrap: wrap;
        
        
        
    }
    
    .sport-container{
        width: 432px;
        height: 774px;
        
        
    }
    
    .gaming-container{
        background-image: url("../img/gaming.jpg");
        background-repeat: no-repeat;
        width: 620px;
        height: 367px;
 
    }
    
    .learn-container{
        background-image: url("../img/learn.jpg");
        background-repeat: no-repeat;
        width: 620px;
        height: 367px;
        text-align: center;
       
    }
    
    .travel-container{
        background-image: url("../img/travel.jpg");
        background-repeat: no-repeat;
        width: 1090px;
        height: 500px;
        text-align: center;
      
       
    }

    #contact{
        margin-top: 120px;
    }

    .ia-img{
        right: -10%;
        position: absolute;
        width: 800px;

    }
    
    .shadow-ia-top {
        z-index: 2;
        position: absolute;
        right: -10%;
        bottom: 945px;
        width: 722px;
        height: 343px;
        background-color: #151C21;
        filter: blur(40px);
    }
    
    .shadow-ia-bottom {
        z-index: 2;
        position: absolute;
        right: -10%;
        bottom: 340px;
        width: 722px;
        height: 343px;
        background-color: #151C21;
        filter: blur(40px);
    }
    
  }

  @media (max-width: 1200px) {


    h1, h2{
     font-size: 70px;
    }
    .navbar {
        position: fixed;
        width: 100%;
        display: block;
        padding: 10px;
        font-size: 1.1rem;
        z-index: 10;
        margin-top: 0px;
        height: 80px;
    }

    .navbar ul {
        gap: 40px;
    }

    
    
    .navbar__links {
        display: flex;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        width: 0;
        border-radius: 400px;
        border-top-left-radius: 800px;
        border-bottom-left-radius: 800px;
        height: calc(100vh - 65px);
        position: absolute;
        top: 65px;
        right: 0;
        background: #31383c;
        transform: translateX(110%);
        transition: all .5s ease-in-out;
    }
    
    .show-nav .navbar__links {
        width: 100vw;
        transform: translateX(0);
        border-radius: 0px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        height: calc(100vh - 65px);
        opacity: 1;    
        
    }


    .navbar__links a{
        text-align: center;
        display: block;
        margin-bottom: 25px;
        
        
    }

  

    .burger {
        display: block;
        position: relative;
        left: 93%;
        width: 45px;
        height: 45px;
        border: none;
        background: transparent;
        cursor: pointer;
        bottom: 65px;
    }
    
    .navbar__links a:hover {
        box-shadow: 0px 15px 10px -15px #39AFD4;
        border-radius: 0px;
    }
    
    /* Toggle menu */
    .bar {
        display: block;
        width: 45px;
        height: 4px;
        border-radius: 3px;
        background: rgb(255, 255, 255);
        transition: all .5s ease-in-out;
    }
    
    .bar::before,
    .bar::after {
        content: "";
        width: 45px;
        height: 4px;
        position: absolute;
        left: 0;
        background: rgb(255, 255, 255);;
        border-radius: 3px;
        transition: all .5s ease-in-out;
    }
    
    .bar::before {
        transform: translateY(-12px)
    }
    
    .bar::after {
        transform: translateY(12px)
    }
    
    .show-nav .bar {
        width: 0;
        background: transparent;
    }
    
    .show-nav .bar::before {
        transform: rotate(45deg);
    }
    
    .show-nav .bar::after {
        transform: rotate(-45deg);
    }
    
    .show-nav a{
        color: green;
    }

    .presentation-container{
        gap: 40px;
        flex-direction: column;
    }
    

    .my-photo{
        
        border-radius: 100%;

        background-size: 470px ;
        width: 400px;
        height: 400px;
        }
    
        .my-description{
            width: 70vw;
        }

        .portfolio-container{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        .macbook{
            width: 457.8px;
            height: 202.35px;
           
            
         }
         
         .site-slider{
             margin-right: 2px;
             margin-top: -40px ;
             position: absolute;
             z-index: 9;
             width: 546px;
             transform: scale(0.6);
         }

         .link-site{
            position: absolute;
            margin-right: 546px;
            
        }
         
         .chevron{
        
            width: 100px;
         }
    
         .diplomes-container{
            transform: scale(0);
        
        }

        .diplomes-reveal{
            transform: scale(0.9);
        }

         .sport-container{
            width: 332px;
            height: 512px;
        }

        .gaming-container{
            width: 378px;
            height: 245px;
            background-size: 100%;
        }

        .learn-container{
            background-image: url("../img/learn.jpg");
            background-repeat: no-repeat;
            width: 378px;
            height: 245px;
            text-align: center;
        }

        .travel-container{
            background-image: url("../img/travel.jpg");
            background-repeat: no-repeat;
            width: 750px;
            height: 340px;
            text-align: center;
        }

        #contact{
            margin-top: 100px;
        }

        .ia-img{
            right: -28%;
            transform: scale(0.8);
        }
        
        .shadow-ia-top {
            z-index: 2;
            position: absolute;
            right: -10%;
            bottom: 920px;
            width: 522px;
            height: 243px;
            background-color: #151C21;
            filter: blur(40px);
        }
        
        .shadow-ia-bottom {
            z-index: 2;
            position: absolute;
            right: -10%;
            bottom: 390px;
            width: 522px;
            height: 343px;
            background-color: #151C21;
            filter: blur(40px);
        }

        .contact-container{
            transform: scale(0.7);
            right: 110px;
        }

  }

        @media (max-width: 800px) {
            .bar {
                position: relative;
                right: 40px;
            }
            
            .bar::before,
            .bar::after {
               
                left: -5px;
                
            }


            h1{
                font-size: 50px;
            }


            h2{
                font-size: 50px;
            }

            section{
                padding-top: 100px;
            }
            
            .shadow-blue{
                width: 500px;
            }



            .my-photo{
                transform: scale(0.7);
            }

            .skill-container{
                
                position: relative;
                width: 250px;
                height: 250px;
                text-align: center;
                border-radius: 10%;
            background: #151C21;
                
            }
            
            .skill-container p{
                
                top: 40%;
                left: 50%;
                transform: translate(-50%,-50%);
                z-index: 4;
                position: absolute;
                font-size: 20px;
                
            }
            
            .skill-img{
               color: black;
                width: 250px;
                opacity: 0.2;
            
            }

            .portfolio-container{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
            }
    
            .macbook{
                filter: drop-shadow(30px 20px 20px black);
                width: 457.8px;
                height: 202.35px;
                width: 286.1px;
                height: 126.46px;
               order: 1;
               padding-left: 25%;
               padding-right:25% ;
               transform: translate(0, 0px);
        
             }
             
             .site-slider{
                 margin-right: 2px;
                 margin-top: -75px ;
                 z-index: 9;
                 width: 546px;
                 transform: scale(0.37);
                 
                 
             }

             .site-slider:hover{
                transform: scale(0.375);
             }

             .link-site{
                position: absolute; 
            }
             
             .chevron{
                width: 100px;
                transition: 10ms;
             }

             .chevron:hover{
                transform: scale(1);
                border-radius: 0px;
                filter: none;
            }

            .chevron:active{
                transform: scale(1.05);
                border-radius: 10px;
                filter: drop-shadow(0px 30px 20px #39AFD4);
            }

            .left{
                order: 2;
                transform: translate(0px, 0px);
            }
            

            .right{
                order: 3;
                transform: translate(0px, 0px);
            }

            .description-site{
                transform: translate(0px, -50px);
            }

            #diplomes h2{
               margin-bottom: 25px;
            }

            .diplomes-container{
               flex-direction: column;
            }

            .classroom-img{
                width: 400px;
                border-radius: 150px;
            }

            .column-diplomes{
                gap: 30px;
            }

            
    
             .sport-container{
                background-size: 400px;
                background-position-x: -60px;
                width: 207.5px;
                height: 285px;

            }
    
            .gaming-container{
                width: 189px;
                height: 122.5px;
                background-size: 100%;
            }

            .gaming-container p{
              bottom: 110px;
            }
    
            .learn-container{
                background-image: url("../img/learn.jpg");
                background-repeat: no-repeat;
                background-size: 200px;
                width: 189px;
                height: 122.5px;
                text-align: center;
            }

            .learn-container p{
                bottom: 110px;
            
            }
    
            .travel-container{
                background-image: url("../img/travel.jpg");
                background-repeat: no-repeat;
                background-size: 800px;
                width: 436.5px;
                height: 240px;
                text-align: center;
            }

            .travel-container p{
                bottom: 170px;
            }

            .ia-img{
                right:-40%;
                transform: scale(0.5);
            }
            
            .shadow-ia-top {
                z-index: 2;
                position: absolute;
                right: -10%;
                bottom: 865px;
                width: 522px;
                height: 243px;
                background-color: #151C21;
                filter: blur(40px);
            }
            
            .shadow-ia-bottom {
                z-index: 2;
                position: absolute;
                right: -10%;
                bottom: 480px;
                width: 522px;
                height: 343px;
                background-color: #151C21;
                filter: blur(40px);
            }
    
            .contact-container{
                transform: scale(0.5);
                right: 230px;
            }
  }

        @media (max-width: 550px) {
            

            h1{
                font-size: 30px;
            }

            h2{
                font-size: 30px;
            }

            p{
                font-size: 16.5px;
            }

            .navbar__links a{
 
                margin-bottom: 30px;
                
                
            }

            .my-description p{
                font-size: 13.5px;
            }

            .my-description span{
                font-size: 14.5px;
            }



            .macbook{
                filter: drop-shadow(30px 20px 20px black);
                order: 1;
                padding-left: 65px;
                padding-right: 65px;
             }
             
             

             .link-site{
                position: absolute; 
            }
             
             .chevron{
                width: 100px;
             }

             .line-portfolio{
                width: 250px;
             }

             .classroom-img{
                width: 300px;
                border-radius: 100px;
            }

            #contact{
                margin-top: 10px;
            }
            
            .ia-img{
                right:-70%;
                transform: scale(0.5);
                
            }
            
            .shadow-ia-top {
                z-index: 2;
                position: absolute;
                right: -40%;
                bottom: 856px;
                width: 522px;
                height: 243px;
                background-color: #151C21;
                filter: blur(40px);
            }
            
            .shadow-ia-bottom {
                z-index: 2;
                position: absolute;
                right: -60%;
                bottom: 462px;
                width: 522px;
                height: 343px;
                background-color: #151C21;
                filter: blur(40px);
            }

            
    


  }

  @media (max-width: 460px) {

            #contact .shadow-blue{
                display: none;
            }

            .sport-container{
                background-size: 400px;
                background-position-x: -60px;
                width: 280px;
                height: 280px;

            }

            .sport-container p{
                bottom: 190px;

            }
    
            .gaming-container{
                width: 280px;
                height: 280px;
                background-size: 500px;
                background-position-x: -120px ;
            }

            .gaming-container p{
              bottom: 190px;
            }
    
            .learn-container{
                background-image: url("../img/learn.jpg");
                background-repeat: no-repeat;
                background-size: 500px;
                width: 280px;
                height: 280px;
                text-align: center;
            }

            .learn-container p{
                bottom: 190px;
            
            }
    
            .travel-container{
                background-image: url("../img/travel.jpg");
                background-repeat: no-repeat;
                background-size: 800px;
                width: 280px;
                height: 280px;
                text-align: center;
            }

            .travel-container p{
                bottom: 190px;
            }
            
  } 

  @media (max-width: 425px) 
  
  {
    .macbook{
        filter: drop-shadow(30px 20px 20px black);
        order: 1;
        padding-left: 0px;
        padding-right: 0px;
     }

     

  }




